.intro-block {
  position: relative;
  border-bottom: 0.5px solid $border-grey;
  padding-bottom: 50px;
  margin-bottom: 55px;
  overflow: hidden;
}

.intro-block__image-wrapper {
  position: relative;
  min-height: 300px;
  margin-bottom: 20px;
}


.intro-block__image {
  position: absolute;
  left: 0;
  top: 0;
}

.intro-block__date {
  position: absolute;
  top: 13px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-height: 100px;
  background-color: $white;
  opacity: 0.9;
}

.intro-block__date-text {
  position: relative;
  width: 76px;
  text-align: center;

  font-family: $merriweather;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  color: $date-black;

  &:after {
    content: '▶';
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 11px;
  }
}

.intro-block__text {
  font-family: $arial;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: $intro-black;
}

.intro-block__slider {
  display: none;
}

@media (max-width: $mobile-width) {
  .intro-block {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 34px;
  }

  .intro-block__date {
    display: none;
  }

  .intro-block__image-wrapper {
    margin-bottom: 16px;
  }

  .intro-block__text {
    font-family: $arial;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 26px;
  }

  .intro-block__slider {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $input-border;
    border-radius: 15px;
  }

  .intro-block__slider-pin {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
    width: 70px;
    height: 4px;
    background-color: $blue;
    border-radius: 15px;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
