.main-header {
}

.main-header__title {
  position: relative;
  text-align: center;
  font-family: $side-text;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: $blue;

  margin-top: 80px;
  margin-bottom: 64px;
  padding: 0 145px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 143px;
    height: 1px;
    background-color: $border-grey;
    top: 50%;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-header__title {
    font-size: 23px;
    line-height: 25px;

    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 35px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 1px;
      background-color: $border-grey;
      top: 50%;
    }
  }
}
