@font-face {
  font-family: "Consolas";
  src: url("../fonts/ConsolasRegular.woff2") format("woff2"), url("../fonts/ConsolasRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/ConsolasBold.woff2") format("woff2"), url("../fonts/ConsolasBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/MerriweatherRegular.woff2") format("woff2"), url("../fonts/MerriweatherRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMTRegular.woff2") format("woff2"), url("../fonts/ArialMTRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
