// widths
$desktop-width: 768px;
$mobile-width: 375px;

//colors
$main-black: #131313;
$main-red: #EE3D48;
$side-background: #EDEDED;
$blue: #0062FF;
$white: #FFFFFF;
$border-grey: #DCDCDC;
$author-grey: #919090;
$star-grey: #979797;

//font-family
$font-primary: "Open Sans",
"Arial",
sans-serif;
$side-text: "Consolas",
"Arial",
sans-serif;
$merriweather: "Merriweather",
"Arial",
sans-serif;
$arial: "Arial",
sans-serif;
$arialMt: "ArialMT",
sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
