.input {
  background-color: $white;
  border: 2px solid $input-border;
  border-radius: 6px;
  color: $main-black;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border: 2px solid $input-hover-border;
  }
}

.input::placeholder {
  color: $input-text;
}

.input--top-block {
  box-sizing: border-box;
  min-height: 50px;
  width: 226px;

  padding: 0 19px;
}

@media (max-width: $mobile-width) {
  .input--top-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
